:root {
    --background: #010E1E;
    --red: #B81328;
}

.Dapp {
    position: relative;
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    color: white;
    /*justify-content: center;*/
    /*text-align: center;*/
    flex-direction: column;
}

a {
    color: var(--red);
}

.button-solid {
    background-color: var(--red);
    color: white;
}

.button-outline {
    background-color: var(--background);
    border: 2px solid var(--red) !important;
    color: white;
}

.button-solid:hover {
    opacity: .85;
}

.button-outline:hover {
    color: white;
    background-color: var(--red);
}


/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
