.Dashboard {
    padding: 5vmin 10vmax 5vmin 10vmax;
    /*height: 100%;*/
    /*flex-grow: 1;*/
    /*justify-items: center;*/
    /*align-items: center;*/
    flex: 1 0 auto;
}

.main-view {
    display: flex;
}

.view-title {
    text-align: center;
}

.user-interaction-table {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin: 2vmin;
}

.divider {
    border: 1px solid var(--red);
    background-color: var(--red);
    margin: 3vmin;
    text-align: center;
}
